@import url('https://fonts.googleapis.com/css2?family=Agbalumo&display=swap');
*{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: "Agbalumo", sans-serif;
    overflow-y: hidden;
    user-select: none;
    font-size: 30px;
    color:white;
    box-sizing: border-box;

}
html{
    width: 100vw;
    height: 100vh;
    background-color: #292E3D;
}

body{
    width: 100%;
    height: 100%;

}

main{
    width: 100%;
    height: 100%;
    position: relative;
}

.UpPlayer{
    width: 100%;
    height: 50%;
    border: 2px solid red;
    position: relative;
}

.DownPlayer{
    width: 100%;
    height: 50%;
    border: 2px solid red;
    position: relative;
}

.CardBack{
    position: absolute;
    top:20%;
    left:5%;
    width: 200px;
    height: auto;


}

.CardLeftText{
    position: absolute;
    top:50%;
    left: -3%;
    transform: rotate(-90deg);
    text-shadow: 1px 1px 2px red, 0 0 1em rgb(33, 33, 95), 0 0 0.2em blue;
}
.LineBackground{
    width:1320px;
    height: 700px;
}
.LineBackground path{
    stroke-width: 7;
    stroke-dashoffset: 18000;
    stroke-opacity: 0.7;
    color:aqua;
    stroke-dasharray: 18000;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: auto;
    animation: draw 20s linear infinite forwards;
}

.Avatar{
    width: 100px;
    height: auto;
    position: absolute;
    
}


.AvatarBlock{
    position: relative;
    width: 100px;
    height: 106px;
    right: 5px;
    background: url(../pics/frame_2.svg) center center no-repeat;
    stroke: 7;
}
@keyframes draw {
    100%{
        stroke-dashoffset: 0;
    }
}